.catalog {
  overflow: hidden;
}

.catalog__title {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 104px;
  margin: 0;
  padding: 0 20px 13px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: @font;
  color: #000000;

  border-bottom: 1px solid #ededed;
}

.catalog_product {
  border-bottom: 1px solid #ededed;
}

.catalog-products__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.catalog-products__description {
  width: 110px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
