.contact-details__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contact-details__item {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 14px;

  font-size: 16px;
  line-height: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  &--email svg {
    position: absolute;
    right: 15px;

    width: 17px;
    height: 13px;
  }

  &--phone svg {
    position: absolute;
    right: 12px;

    width: 20px;
    height: 20px;
  }
}

.contact-details label {
  margin-right: 10px;

  sup {
    top: 0;
    right: 0;
    font-size: 1em;
  }
}

.contact-details input {
  flex-grow: 1;
  box-sizing: border-box;
  height: 45px;
  padding: 15px 37px 15px 15px;

  color: #444444;
  text-transform: inherit;

  border: 1px solid #e6e6e6;

  &::placeholder {
    font: inherit;
    color: inherit;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
    outline: none;

    & + svg {
      fill: #68b738;
    }
  }
}
