.contact-details__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.contact-details__item {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 12px;

  // font-family: @font;
  font-size: 16px;
  line-height: 18px;
  // font-weight: normal;
  // font-stretch: normal;
  // font-style: normal;
  // line-height: 1;
  // letter-spacing: normal;

  &:last-child {
    margin-bottom: 0;
  }

  &--email svg {
    position: absolute;
    right: 15px;

    width: 17px;
    height: 13px;
  }

  &--phone svg {
    position: absolute;
    right: 12px;

    width: 20px;
    height: 20px;
  }
}

.contact-details label {
  margin-top: -7px;
  margin-right: 10px;

  color: @color-4;

  sup {
    position: relative;
    top: 8px;
    right: 0;
    font-size: 1em;
  }
}

.contact-details input {
  flex-grow: 1;
  box-sizing: border-box;
  height: 45px;
  padding: 15px 15px 15px 15px;

  font-family: @font;
  font-size: 16px;
  // font-weight: normal;
  // font-stretch: normal;
  // font-style: normal;
  // line-height: 1;
  // letter-spacing: normal;
  color: @color-1;
  text-transform: inherit;

  border: 1px solid #e6e6e6;

  &::placeholder {
    font-size: inherit;
    color: inherit;
  }

  &:hover {
    border-color: #cfcfcf;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }

  &:focus {
    border-color: #444444;
    outline: 1px solid #444444;
  }

  &:focus + svg {
    fill: #68b738;
  }

  &:invalid + svg {
    fill: #ff8282;
  }
}

@media (min-width: @tablet-width) {
  .contact-details__item {
    margin-bottom: 20px;

    font-size: 20px;
    line-height: 20px;

    &--email svg {
      right: 21px;
    }

    &--phone svg {
      right: 20px;
    }
  }

  .contact-details label {
    margin-right: 20px;
  }

  .contact-details input {
    height: 52px;
    padding: 11px 61px 11px 22px;

    font-size: 20px;
  }

  .contact-details__item--phone {
    label {
      margin-right: 15px;
    }

    input {
      padding-left: 19px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contact-details__list {
    display: flex;
  }

  .contact-details__item {
    width: 570px;
    margin-bottom: 0;

    &:first-child {
      margin-right: 80px;
    }
  }
}
