.reclame {
  font-family: @font;
  text-align: center;
  color: @color-3;

  background-image: 
  url(../img/bg-mobile.jpg), 
  linear-gradient(to bottom, #64a83b 305px, @bg-1 305px);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 320px 305px, 100%;
}

.reclame__wrapper {
  box-sizing: border-box;
  min-height: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 26px 20px 24px;
}

.reclame {
  margin: 0;
  margin-bottom: 25px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.reclame__info {
  margin: 0;
  margin-bottom: 29px;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase; 
}
