.sample {
  background-color: #f2f2f2;
}

.sample__wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 29px 20px 0;
}

.sample__title {
  margin: 0;
  margin-bottom: 36px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: @font;
  color: @color-2;
}

.sample__desc {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 10px;
}

.sample__stats {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 37px;
  padding: 0;

  list-style: none;
}

.sample__value {
  position: relative;

  display: flex;
  flex-grow: 1;
  justify-content: center;
  box-sizing: border-box;
  width: 124px;
  min-height: 56px;
  padding-top: 12px;

  font-size: 24px;
  line-height: 24px;
  font-family: @font;
  color: @color-2;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
  border-radius: 4px;

  &:first-child {
    margin-right: 32px;
  }

  span {
    position: absolute;
    bottom: -14px;

    width: 87px;
    min-height: 20px;

    font-size: 12px;
    line-height: 12px;
    font-family: "Arial", sans-serif;
    text-align: center;
    color: @color-1;
    text-transform: lowercase;

    background-color: @bg-3;
  }
}

.sample__cost {
  margin: 0;
  margin-bottom: 36px;

  font-size: 14px;
  line-height: 14px;
  font-family: @font;
  text-align: center;
  color: @color-2;
  text-transform: uppercase;
}


@media (min-width: @tablet-width) {
  .sample {
    background-color: transparent;
  }

  .sample__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: @tablet-width;
    padding: 0 30px 89px;
  }

  .sample__title {
    flex-grow: 1;
    margin-bottom: 65px;

    font-size: 60px;
    line-height: 60px;
  }

  .sample__desc {
    flex-grow: 1;
    margin-bottom: 53px;

    font-size: 16px;
    line-height: 24px;
  }

  .sample__stats {
    justify-content: flex-start;
    margin-bottom: -58px;
  }

  .sample__value {
    flex-grow: 0;
    width: 162px;
    min-height: 72px;
    padding-top: 18px;

    font-size: 30px;
    line-height: 30px;

    &:first-child {
      margin-right: 42px;
    }

    span {
      bottom: -14px;

      width: auto;
      padding: 0 8px;

      font-size: 14px;
      line-height: 14px;

      background-color: @bg-1;

      // br {
      //   display: none;
      // }
    }
  }

  .sample__value_one {
    br {
      display: none;
    }
  }

  .sample__value_two {
    br {
      display: none;
    }
  }


  .sample__cost {
    margin: 0;

    font-size: 20px;
    line-height: 20px;
    text-align: right;

    span {
      display: block;
      padding-top: 10px;
    }
  }
}

@media (min-width: @desktop-width) {
  .sample {
    position: relative;

    overflow: hidden;
    background-image: linear-gradient(to bottom, #ffffff 200px, #f2f2f2 200px);
    background-size: 100%;
    margin-bottom: -78px;
  }

  // .wrap {
  //   width: 1300px;
  // }

  .sample__wrapper {
    // width: 435px;
    // margin: auto;
    // padding: 0;
    // padding-top: 65px;

    // transform: translateX(-392px);
    width: 50%;
    // min-height: 462px;
    // margin: 0 auto;
    // padding: 65px 0px 0;
    // margin-left: 431px;
    // margin-top: -68px;
    // -webkit-transform: translateX(-392px);
    // transform: translateX(-392px);
  }

  .sample__wrapper-left-container {
    width: 431px;
    padding: 64px 0;
    margin-left: 10px;
  }

  .sample__container {
    display: flex;
    width: 1300px;
    margin: 0 auto;
    height: auto;
  }

  .sample__title {
    margin-bottom: 145px;
  }

  .sample__desc {
    margin-bottom: 70px;
    padding-right: 0;
  }

  .sample__stats {
    margin-bottom: 60px;
  }

  .sample__value {
    span {
      bottom: -11px;

      background-color: #f2f2f2;
    }
  }

  .sample__cost {
    text-align: left;

    span {
      display: inline-block;
      padding-top: 0;
      padding-left: 60px;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .sample__value_one {
    left: 18px;
  }

  .sample__value_two {
    left: 19px;
    bottom: -11px;
  }
}


@media (min-width: @desktop-width) screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  // .sample {
  //   margin-bottom: -78px;
  // }
  .sample__value span {
    width: 127px;
  }

  .sample__value_one {
    left: 0;
    right: 0;
    margin: auto;
  }

  .sample__value_two {
    left: 0;
    right: 0;
    margin: auto;
  }
}
