@font-face {
  font-weight: 400;
  font-family: "Oswald";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-weight: 500;
  font-family: "Oswald";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
body {
  min-width: 320px;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  color: #444444;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (min-width: 768px) {
  .container-width-tablet {
    width: 738px;
    margin: 0 auto;
  }
}
@media (min-width: 1300px) {
  .container-width {
    width: 1220px;
    margin: auto;
  }
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}
@media (min-width: 768px) {
  .button {
    min-height: 52px;
    font-size: 20px;
    line-height: 50px;
  }
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}
.logo__box {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 66px;
  padding: 0 20px;
  border-bottom: 1px solid #e6e6e6;
}
.logo__box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 101px;
  height: 18px;
  margin: auto;
  background-image: url("../img/logo-text.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.logo__image {
  width: 33px;
  height: 38px;
  margin-top: -5px;
}
@media (min-width: 768px) {
  .logo__box {
    width: auto;
    height: auto;
    padding: 0;
    border-bottom: none;
  }
  .logo__box::after {
    content: none;
  }
  .logo__image {
    width: 173px;
    height: 58px;
    margin-top: 0;
  }
}
@media (min-width: 1300px) {
  .logo__image {
    width: 202px;
    height: 59px;
  }
}
.main-nav {
  position: relative;
}
.main-nav__switch {
  display: none;
}
.main-nav__switch_state-shown {
  display: block;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 66px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald", Arial, sans-serif;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #e6e6e6;
}
@media (max-width: 768px - 1px) {
  .main-nav__switch {
    position: absolute;
    top: -45px;
    right: 20px;
    width: 24px;
    height: 24px;
    padding: 0;
    outline: 0;
    background-color: transparent;
    background-image: url("../img/icon-menu-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    border: none;
  }
  .main-nav--close .main-nav__switch {
    outline: 0;
    background-image: url("../img/icon-menu-open.svg");
    background-size: 24px 18px;
  }
  .main-nav--close .main-nav__list {
    display: block;
  }
  .main-nav--close .main-nav__list_state-hide {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-nav {
    top: 4px;
  }
  .main-nav__switch {
    display: none;
  }
  .main-nav__list {
    display: flex;
    max-width: 768px;
    flex-wrap: wrap;
  }
  .main-nav__item {
    margin-right: 36px;
  }
  .main-nav__item:last-child {
    margin-right: 1px;
  }
  .main-nav__link {
    min-height: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    border-bottom: 0;
  }
  .main-nav__link--active {
    border-bottom: 3px solid #68b738;
  }
  .main-nav__link:hover {
    opacity: 0.6;
  }
  .main-nav__link:active {
    opacity: 0.3;
  }
}
@media (min-width: 1300px) {
  .main-nav {
    top: 2px;
    left: 3px;
  }
  .page-nav {
    max-width: 520px;
    display: flex;
    flex-wrap: wrap;
    min-height: 20px;
  }
  .main-nav__link {
    min-height: 45px;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
  }
  .main-nav__link--active {
    border-bottom: 2px solid #ffffff;
  }
  .main-nav__link:hover {
    opacity: 0.6;
  }
  .main-nav__link:active {
    opacity: 0.3;
  }
  .inner-page .main-nav__link {
    color: #111111;
  }
  .inner-page .main-nav__link--active {
    border-bottom: 3px solid #68b738;
  }
}
.reclame {
  font-family: "Oswald", Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/bg-mobile.jpg"), linear-gradient(to bottom, #64a83b 305px, #ffffff 305px);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 320px 305px, 100%;
}
@media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
  .reclame {
    background-image: url("../img/bg-mobile@2x.jpg"), linear-gradient(to bottom, #64a83b 305px, #ffffff 305px);
  }
}
.reclame__wrapper {
  box-sizing: border-box;
  min-height: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 26px 20px 24px;
}
.reclame__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
.reclame__info {
  margin: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
.reclame__button {
  width: 100%;
  margin: 0 auto;
  margin-top: 0;
  background-color: #63a73a;
  color: #ffffff;
}
.reclame__button:hover {
  background-color: #5eaa2f;
}
.reclame__button:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .reclame {
    text-align: left;
    color: #111111;
    background-color: #ffffff;
    background-image: none;
  }
  .reclame__wrapper {
    position: relative;
    width: 768px;
    min-height: 810px;
    padding: 0;
    padding-left: 117px;
    padding-right: 222px;
  }
  .reclame__title {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
  }
  .reclame__info {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
  }
  .reclame__image-box {
    position: absolute;
    left: 0;
    bottom: -5px;
    right: 0;
    margin: auto;
    text-align: center;
  }
  .reclame__image {
    width: 709px;
    height: 609px;
  }
  .reclame__button {
    position: relative;
    z-index: 1;
    width: 245px;
    min-height: 52px;
    margin: 0;
    color: #ffffff;
  }
}
@media (min-width: 1300px) {
  .reclame {
    min-height: 696px;
    margin-bottom: 80px;
    padding: 1px;
    overflow: hidden;
  }
  .reclame__wrapper {
    position: relative;
    width: 1220px;
    min-height: 499px;
    margin: 142px auto 0;
    padding: 80px 0 0 80px;
  }
  .reclame__wrapper::after {
    content: "";
    /* display: inline-block; */
    /* position: absolute; */
    vertical-align: middle;
    /* z-index: -100; */
    position: absolute;
    height: 696px;
    /* top: 57px; */
    left: 610px;
    top: -143px;
    z-index: 0;
    /* margin-top: -510px; */
    margin-right: -38vw;
    padding-right: 50vw;
    background-image: url("../img/bg-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 718px;
    background-position: 1px 0;
    background-color: #63a73a;
  }
  .reclame__title {
    width: 490px;
    margin-bottom: 40px;
  }
  .reclame__info {
    margin-bottom: 53px;
    padding-right: 700px;
  }
  .reclame__image-box {
    position: absolute;
    top: 0;
    left: 0;
    bottom: -5px;
    right: 0;
    z-index: 1;
    width: 552px;
    height: 499px;
    margin: auto;
    text-align: center;
    transform: translateX(116px);
  }
  .reclame__image {
    width: 552px;
    height: 499px;
  }
}
.power-supply__wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  padding: 0 20px;
}
.power-supply__box {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 36px 20px 20px;
  background-color: #f2f2f2;
}
.power-supply__box:last-child {
  margin-bottom: 0;
}
.power-supply__box::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 12px;
  width: 67px;
  height: 67px;
  background-repeat: no-repeat;
}
.power-supply__box--slim::before {
  background-image: url("../img/icon-cat-slim.svg"), radial-gradient(circle, #68b738 24px, transparent 25px);
  background-position: center 7px, center;
  background-size: 35px 49px, 100%;
}
.power-supply__box--pro::before {
  background-image: url("../img/icon-cat-pro.svg"), radial-gradient(circle, #68b738 24px, transparent 25px);
  background-position: center;
  background-size: 67px 28px, 100%;
}
.power-supply__subtitle {
  margin: 0;
  margin-bottom: 34px;
  padding-left: 72px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", Arial, sans-serif;
  color: #111111;
  text-transform: uppercase;
}
.power-supply__desc {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
}
.power-supply__link {
  position: relative;
  padding-right: 44px;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", Arial, sans-serif;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
}
.power-supply__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 33px;
  height: 11px;
  margin: auto;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 24px 11px;
}
.power-supply__link:hover::after {
  background-image: url("../img/icon-right-arrow-verylong.svg");
  background-size: 33px 11px;
}
.power-supply__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .power-supply {
    margin-bottom: 45px;
  }
  .power-supply__wrapper {
    padding: 0 15px;
  }
  .power-supply__box {
    margin-bottom: 30px;
    padding: 76px 52px 60px;
  }
  .power-supply__box::before {
    top: 80px;
    left: auto;
    right: 28px;
    width: 268px;
    height: 220px;
  }
  .power-supply__box--slim .power-supply__desc {
    width: 375px;
  }
  .power-supply__box--slim::before {
    background-image: url("../img/icon-cat-slim.svg"), radial-gradient(circle, #68b738 99px, transparent 100px);
    background-position: center 0, center;
    background-size: 140px 194px, 100%;
  }
  .power-supply__box--pro .power-supply__desc {
    width: 343px;
  }
  .power-supply__box--pro::before {
    background-image: url("../img/icon-cat-pro.svg"), radial-gradient(circle, #68b738 99px, transparent 100px);
    background-position: center;
    background-size: 268px 112px, 100%;
  }
  .power-supply__subtitle {
    margin-bottom: 25px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }
  .power-supply__desc {
    margin-bottom: 56px;
    padding-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    border-bottom: none;
  }
  .power-supply__link {
    padding-right: 56px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1300px) {
  .container-width {
    margin: 0 auto;
  }
  .power-supply {
    margin-bottom: 70px;
  }
  .power-supply__wrapper {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 1220px;
    padding: 0;
  }
  .power-supply__box {
    width: 570px;
    min-height: 372px;
    margin-bottom: 0;
    padding: 75px 53px 61px;
  }
  .power-supply__box::before {
    top: 41px;
    left: 34px;
    right: auto;
    width: 134px;
    height: 107px;
  }
  .power-supply__box--slim .power-supply__desc {
    width: auto;
  }
  .power-supply__box--slim::before {
    background-image: url("../img/icon-cat-slim.svg"), radial-gradient(circle, #68b738 49px, transparent 50px);
    background-size: 70px 97px, 100%;
  }
  .power-supply__box--pro .power-supply__desc {
    width: auto;
  }
  .power-supply__box--pro::before {
    background-image: url("../img/icon-cat-pro.svg"), radial-gradient(circle, #68b738 49px, transparent 50px);
    background-size: 134px 56px, 100%;
  }
  .power-supply__subtitle {
    margin-bottom: 75px;
    padding-left: 160px;
  }
  .power-supply__desc {
    margin-bottom: 30px;
  }
}
.specification {
  margin-bottom: 29px;
}
.specification__wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.specification__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", Arial, sans-serif;
  color: #111111;
}
.specification__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.specification__item {
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;
}
.specification__item:last-child {
  margin-bottom: 0;
}
.specification__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
}
.specification__item--helpful::before {
  background-image: url("../img/icon-helpful.png");
  background-size: 26px 29px;
}
@media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
  .specification__item--helpful::before {
    background-image: url("../img/icon-helpful@2x.png");
  }
}
.specification__item--comfy::before {
  background-image: url("../img/icon-comfy.png");
  background-size: 29px 31px;
}
@media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
  .specification__item--comfy::before {
    background-image: url("../img/icon-comfy@2x.png");
  }
}
.specification__item--simply::before {
  background-image: url("../img/icon-simply.png");
  background-size: 23px 30px;
}
@media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
  .specification__item--simply::before {
    background-image: url("../img/icon-simply@2x.png");
  }
}
.specification__item--quick::before {
  background-image: url("../img/icon-quick.png");
  background-size: 26px 31px;
}
@media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
  .specification__item--quick::before {
    background-image: url("../img/icon-quick@2x.png");
  }
}
@media (min-width: 768px) {
  .specification {
    margin-bottom: 42px;
    border-bottom: 1px solid #e6e6e6;
  }
  .specification__wrapper {
    width: 768px;
    padding: 0 30px 56px;
  }
  .specification__title {
    margin-bottom: 71px;
    font-size: 60px;
    line-height: 60px;
  }
  .specification__list {
    display: flex;
    flex-wrap: wrap;
  }
  .specification__item {
    box-sizing: border-box;
    width: 324px;
    min-height: 230px;
    margin-bottom: 87px;
    padding-top: 112px;
    padding-left: 0;
    padding-right: 79px;
    font-size: 16px;
    line-height: 24px;
  }
  .specification__item:nth-last-child(2) {
    margin-bottom: 0;
  }
  .specification__item:nth-child(odd) {
    margin-right: 60px;
  }
  .specification__item::before {
    width: 80px;
    height: 80px;
  }
  .specification__item::after {
    position: absolute;
    top: -40px;
    left: 115px;
    z-index: -1;
    font-size: 281px;
    line-height: 281px;
    font-family: "Oswald", Arial, sans-serif;
    color: #f2f2f2;
  }
  .specification__item--helpful::after {
    content: "1";
  }
  .specification__item--comfy::after {
    content: "2";
  }
  .specification__item--simply::after {
    content: "3";
  }
  .specification__item--quick::after {
    content: "4";
  }
}
@media (min-width: 1300px) {
  .specification {
    margin-bottom: 0;
    border-bottom: none;
  }
  .specification__wrapper {
    width: 1300px;
    padding: 0 40px;
  }
  .specification__title {
    margin-bottom: 73px;
  }
  .specification__list {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .specification__item {
    width: 245px;
    min-height: 245px;
    margin: 0;
    padding: 112px 0 0;
  }
  .specification__item:nth-child(odd) {
    margin-right: 0;
  }
  .specification__item::before {
    width: 80px;
    height: 80px;
  }
  .specification__item::after {
    position: absolute;
    top: -40px;
    left: 115px;
    z-index: -1;
    font-size: 281px;
    line-height: 281px;
    font-family: "Oswald", Arial, sans-serif;
    color: #f2f2f2;
  }
  .specification__item--helpful::after {
    content: "1";
  }
  .specification__item--comfy::after {
    content: "2";
  }
  .specification__item--simply::after {
    content: "3";
  }
  .specification__item--quick::after {
    content: "4";
  }
}
.sample {
  background-color: #f2f2f2;
}
.sample__wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 29px 20px 0;
}
.sample__title {
  margin: 0;
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", Arial, sans-serif;
  color: #111111;
}
.sample__desc {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 10px;
}
.sample__stats {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  list-style: none;
}
.sample__value {
  position: relative;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  box-sizing: border-box;
  width: 124px;
  min-height: 56px;
  padding-top: 12px;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", Arial, sans-serif;
  color: #111111;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
}
.sample__value:first-child {
  margin-right: 32px;
}
.sample__value span {
  position: absolute;
  bottom: -14px;
  width: 87px;
  min-height: 20px;
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #444444;
  text-transform: lowercase;
  background-color: #f2f2f2;
}
.sample__cost {
  margin: 0;
  margin-bottom: 36px;
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald", Arial, sans-serif;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .sample {
    background-color: transparent;
  }
  .sample__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    padding: 0 30px 89px;
  }
  .sample__title {
    flex-grow: 1;
    margin-bottom: 65px;
    font-size: 60px;
    line-height: 60px;
  }
  .sample__desc {
    flex-grow: 1;
    margin-bottom: 53px;
    font-size: 16px;
    line-height: 24px;
  }
  .sample__stats {
    justify-content: flex-start;
    margin-bottom: -58px;
  }
  .sample__value {
    flex-grow: 0;
    width: 162px;
    min-height: 72px;
    padding-top: 18px;
    font-size: 30px;
    line-height: 30px;
  }
  .sample__value:first-child {
    margin-right: 42px;
  }
  .sample__value span {
    bottom: -14px;
    width: auto;
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }
  .sample__value_one br {
    display: none;
  }
  .sample__value_two br {
    display: none;
  }
  .sample__cost {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }
  .sample__cost span {
    display: block;
    padding-top: 10px;
  }
}
@media (min-width: 1300px) {
  .sample {
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #ffffff 200px, #f2f2f2 200px);
    background-size: 100%;
    margin-bottom: -78px;
  }
  .sample__wrapper {
    width: 50%;
  }
  .sample__wrapper-left-container {
    width: 431px;
    padding: 64px 0;
    margin-left: 10px;
  }
  .sample__container {
    display: flex;
    width: 1300px;
    margin: 0 auto;
    height: auto;
  }
  .sample__title {
    margin-bottom: 145px;
  }
  .sample__desc {
    margin-bottom: 70px;
    padding-right: 0;
  }
  .sample__stats {
    margin-bottom: 60px;
  }
  .sample__value span {
    bottom: -11px;
    background-color: #f2f2f2;
  }
  .sample__cost {
    text-align: left;
  }
  .sample__cost span {
    display: inline-block;
    padding-top: 0;
    padding-left: 60px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .sample__value_one {
    left: 18px;
  }
  .sample__value_two {
    left: 19px;
    bottom: -11px;
  }
}
@media (min-width: 1300px) screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .sample__value_one {
    left: 23px;
  }
  .sample__value_two {
    left: 10px;
    bottom: -11px;
  }
}
.action-slider {
  background-color: #f2f2f2;
}
.action-slider__wrapper {
  box-sizing: border-box;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 35px;
}
.action-slider__list {
  position: relative;
  min-height: 240px;
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
  overflow: hidden;
  list-style: none;
}
.action-slider__item {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}
.action-slider__item--before {
  visibility: visible;
  opacity: 1;
}
.action-slider__item--before img {
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  width: 311px;
  height: 232px;
  margin: auto;
  transform: translateX(-5px);
}
.action-slider__item--after img {
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  width: 251px;
  height: 240px;
  margin: auto;
}
.action-slider__item--active {
  visibility: visible;
  opacity: 1;
}
.action-slider__image-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.action-slider__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 198px;
  margin: 0 auto;
}
.action-slider__label {
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", Arial, sans-serif;
  color: #111111;
  text-transform: uppercase;
  outline: 0;
  background: none;
  border: none;
}
.action-slider__spacing {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 84px;
  height: 14px;
  margin: 0;
  padding: 0 6px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}
.action-slider__button {
  position: absolute;
  left: 0;
  width: 35px;
  height: 6px;
  padding: 0;
  background-color: #63b738;
  border: none;
  border-radius: 3px;
  outline: 0;
  transform: translateX(6px);
  transition: 1s;
}
.action-slider__button--before {
  left: 0;
  transform: translateX(6px);
}
.action-slider__button--after {
  left: 100%;
  transform: translateX(-41px);
}
@media (min-width: 768px) {
  .action-slider {
    background-color: transparent;
  }
  .action-slider__wrapper {
    position: relative;
    width: 100%;
    padding: 0;
  }
  .action-slider__list {
    margin-bottom: 0;
    min-height: 638px;
  }
  .action-slider__item {
    width: 50%;
    min-height: 524px;
    padding-bottom: 114px;
    overflow: hidden;
    visibility: visible;
    opacity: 1;
  }
  .action-slider__item--before {
    left: 0;
    background-image: linear-gradient(to bottom, #ffffff 175px, #f2f2f2 175px);
  }
  .action-slider__item--before .action-slider__image-box {
    left: 0;
  }
  .action-slider__item--before img {
    top: 25px;
    width: 677px;
    height: 499px;
    transform: translateX(0);
  }
  .action-slider__item--after {
    right: 0;
    background-image: linear-gradient(to bottom, #ffffff 175px, #eaeaea 175px);
  }
  .action-slider__item--after .action-slider__image-box {
    right: 0;
  }
  .action-slider__item--after img {
    top: 5px;
    width: 545px;
    height: 517px;
    transform: translateX(25px);
  }
  .action-slider__item--active {
    position: absolute;
    z-index: 2;
    width: 100%;
  }
  .action-slider__image-box {
    width: 100vw;
  }
  .action-slider__control {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 68px;
    z-index: 3;
    width: 570px;
    margin: auto;
  }
  .action-slider__label {
    position: relative;
    display: block;
    box-sizing: border-box;
    min-height: 35px;
    padding: 7px 0 7px;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted #b8b8b8;
  }
  .action-slider__label:hover {
    border-bottom-style: solid;
  }
  .action-slider__label:active {
    border-bottom: none;
  }
  .action-slider__spacing {
    width: 428px;
    height: 6px;
    padding: 0;
    background-color: #dcdcdc;
    border: 0;
    border-radius: 3px;
  }
  .action-slider__button {
    left: 51%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    outline: 0;
    transform: translateX(-50%);
  }
  .action-slider__button::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 11px;
    width: 8px;
    height: 8px;
    background-color: #68b738;
    border-radius: 50%;
  }
  .action-slider__button--before {
    left: 0;
    transform: translateX(0);
  }
  .action-slider__button--after {
    left: 100%;
    transform: translateX(-32px);
  }
  .action-slider__button:hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }
  .action-slider__button:active {
    border: 1px solid #68b738;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  }
  .action-slider__button:active::after {
    top: 11px;
    left: 11px;
  }
}
@media (min-width: 1300px) {
  .action-slider {
    height: 73px;
  }
  .action-slider__wrapper {
    width: 50%;
    left: -1px;
    top: 0px;
  }
  .action-slider__wrapper::after {
    content: "";
    vertical-align: middle;
    position: absolute;
    height: 462px;
    left: 0;
    top: 200px;
    z-index: 1;
    margin-right: -38vw;
    padding-right: 50vw;
    background-color: #eaeaea;
  }
  .action-slider__list {
    min-height: 662px;
    margin-bottom: 0;
  }
  .action-slider__item--before {
    left: 0;
    z-index: 2;
    background-image: linear-gradient(to bottom, #ffffff 200px, #f2f2f2 200px);
  }
  .action-slider__item--before img {
    top: 30px;
    left: -67px;
    transform: translateX(-25);
  }
  .action-slider__item--after {
    right: 0;
    z-index: 2;
    background-image: linear-gradient(to bottom, #ffffff 200px, #eaeaea 200px);
  }
  .action-slider__item--after img {
    left: 147px;
    top: 10px;
    transform: translateX(0);
  }
  .action-slider__item--active {
    position: absolute;
    z-index: 3;
    width: 100%;
  }
  .action-slider__item--before .action-slider__image-box {
    width: 17px;
    left: 30px;
  }
  .action-slider__item--after .action-slider__image-box {
    width: 795px;
  }
  .action-slider__control {
    position: relative;
    bottom: 103px;
  }
}
@media (min-width: 1300px) screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .action-slider__button {
    left: 50.5%;
    top: -210%;
  }
  .action-slider__button--before {
    left: 0;
    transform: translateX(0);
  }
  .action-slider__button--after {
    left: 100%;
    transform: translateX(-32px);
  }
}
.contacts-map {
  width: 100%;
  height: 362px;
  border: 0;
  background-color: #fef7ef;
  background-image: url("../img/map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}
@media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
  .contacts-map {
    background-image: url("../img/map-mobile@2x.jpg");
  }
}
.contacts-wrapper {
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -4px;
}
.contacts-box {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 114px;
  padding: 27px 20px;
  background-color: #ffffff;
}
.inner-page .contacts-box {
  background-color: #f2f2f2;
}
.contacts-invite {
  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", Arial, sans-serif;
  color: #111111;
  text-transform: uppercase;
}
.contacts-adds {
  width: 140px;
  margin: 0;
  line-height: 20px;
}
@media (min-width: 768px) {
  .contacts-map {
    height: 400px;
    position: relative;
    top: 0;
    background-image: url("../img/map-tablet.jpg");
  }
  .contacts-map_form {
    height: 397px;
    top: 0;
  }
  .contacts-wrapper {
    height: 201px;
  }
  .contacts-box {
    padding: 63px 72px 60px;
  }
  .contacts-invite {
    width: 155px;
    font-size: 20px;
    line-height: 25px;
  }
  .contacts-adds {
    width: 155px;
    font-size: 16px;
    text-align: right;
  }
  .contacts-adds span {
    display: block;
    padding-top: 18px;
  }
}
@media (min-width: 768px) and (min-resolution: 1.5dppx), (min-width: 768px) and (min-resolution: 144dpi) {
  .contacts-map {
    background-image: url("../img/map-tablet@2x.jpg");
  }
}
@media (min-width: 1300px) {
  .contacts-map {
    position: absolute;
    height: 400px;
    background-image: url("../img/map-desktop.jpg");
  }
  .contacts-wrapper {
    position: relative;
    height: 400px;
  }
  .contacts-box {
    position: absolute;
    top: 95px;
    left: 2px;
    z-index: 1;
    width: 570px;
    min-height: 201px;
    padding: 65px 90px 60px 75px;
  }
  .inner-page .contacts-box {
    z-index: 1;
    margin-left: -109px;
    background-color: #ffffff;
  }
  .contacts-invite {
    width: 155px;
  }
  .contacts-adds {
    text-align: left;
  }
}
@media (min-width: 1300px) and (min-resolution: 1.5dppx), (min-width: 1300px) and (min-resolution: 144dpi) {
  .contacts-map {
    background-image: url("../img/map-desktop@2x.jpg");
  }
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 100%;
  min-height: 64px;
  padding: 0 82px 0 73px;
  margin: 0;
  list-style: none;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.social__item:nth-child(1) {
  margin-right: 37px;
}
.social__item:nth-child(2) {
  margin-right: 40px;
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__link svg {
  fill: #666666;
}
.social__link--vk {
  width: 22px;
  height: 12px;
}
.social__link--insta {
  width: 16px;
  height: 16px;
}
.social__link--fb {
  width: 10px;
  height: 19px;
}
.social__link:hover svg {
  fill: #68b738;
}
.social__link:active svg {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .social {
    min-width: 165px;
    min-height: auto;
    padding: 0;
    border: none;
  }
  .social__item {
    margin-right: 28px;
  }
  .social__item:nth-child(1) {
    margin-right: 28px;
  }
  .social__item:nth-child(2) {
    margin-right: 29px;
  }
  .social__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social__link--vk {
    width: 30px;
    height: 16px;
  }
  .social__link--insta {
    width: 23px;
    height: 23px;
  }
  .social__link--fb {
    width: 14px;
    height: 28px;
  }
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  color: inherit;
  text-decoration: none;
}
.copyright svg {
  fill: #666666;
}
.copyright:hover svg {
  fill: #68b738;
}
.copyright:active {
  opacity: 0.3;
}
.copyright__name {
  font-size: 16px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .copyright {
    min-width: 165px;
  }
  .copyright__name {
    margin-right: 23px;
  }
}
.catalog {
  overflow: hidden;
}
.catalog__title {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 104px;
  margin: 0;
  padding: 0 20px 13px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: "Oswald", Arial, sans-serif;
  color: #111111;
  border-bottom: 1px solid #ededed;
}
.catalog-product {
  border-bottom: 1px solid #ededed;
}
.catalog-products-container {
  display: flex;
}
.catalog-products-description {
  width: 100%;
}
@media (min-width: 768px) {
  .catalog__wrapper {
    box-sizing: border-box;
    width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .catalog-products-container {
    display: flex;
    flex-wrap: wrap;
  }
  .catalog-products-description {
    width: 100%;
  }
  .catalog__title {
    height: auto;
    margin-bottom: 82px;
    padding: 0;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    border-bottom: none;
  }
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 68px;
  }
  .catalog-product {
    box-sizing: border-box;
    width: 324px;
    margin-right: 60px;
    margin-bottom: 58px;
    border-bottom: none;
  }
  .catalog-product:nth-child(even) {
    margin-right: 0;
  }
  .catalog-product:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .catalog-product--more {
    margin-top: 82px;
    border: 1px solid #ededed;
  }
}
@media (min-width: 1300px) {
  .catalog__wrapper {
    width: 1220px;
    padding: 0;
  }
  .catalog__title {
    margin-bottom: 83px;
  }
  .catalog__list {
    margin-bottom: 77px;
  }
  .catalog-product {
    width: 245px;
    margin-right: 80px;
  }
  .catalog-product:nth-child(n) {
    margin-right: auto;
  }
  .catalog-product:nth-child(4n) {
    margin-right: 0;
  }
  .catalog-product:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
  .catalog-product--more {
    margin-top: 82px;
    border: 1px solid #ededed;
  }
}
.product {
  padding: 0 20px 24px;
}
.product__image {
  display: flex;
}
.product__title {
  display: inline-block;
  max-width: 80px;
  margin: 21px 0 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", Arial, sans-serif;
  color: #111111;
  text-transform: uppercase;
}
.product__desc {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  border-spacing: 0;
}
.product__field,
.product__value {
  width: 50%;
  padding: 0;
}
.product__value {
  text-align: right;
}
.product__button {
  clear: both;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
}
.product__button:hover {
  background-color: #5eaa2f;
}
.product__button:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .product {
    padding: 0 38px 37px;
    background-image: linear-gradient(transparent 82px, #f2f2f2 82px);
    background-repeat: no-repeat;
    background-position: top;
  }
  .product__image {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 208px;
    margin: 0 auto 38px;
    margin-left: 9px;
    margin-right: 13px;
  }
  .product__image img {
    width: auto;
    height: auto;
  }
  .link-wrapper {
    padding-left: 12px;
  }
  .product__title {
    display: block;
    max-width: 140px;
    margin: 0 auto 18px;
    font-size: 20px;
    text-align: center;
  }
  .product__desc {
    width: 100%;
    margin-bottom: 33px;
    font-size: 16px;
  }
  .product__field,
  .product__value {
    padding: 8px 0 7px;
    border-bottom: 1px solid #cdcdcd;
  }
  .product__button {
    min-height: 40px;
  }
}
@media (min-width: 1300px) {
  .link-wrapper {
    margin-left: 5px;
  }
  .product__image img {
    margin-left: -41px;
  }
}
@media (min-width: 768px) {
  .product {
    padding: 0 38px 40px;
  }
}
@media (min-width: 768px) {
  .product__button {
    line-height: 40px;
  }
}
.more-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 29px 20px 25px;
}
.more-product::before {
  content: "";
  width: 30px;
  height: 30px;
  margin-bottom: 22px;
  background-image: linear-gradient(#d3d3d3, #d3d3d3), linear-gradient(#d3d3d3, #d3d3d3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2px 100%, 100% 2px;
}
.more-product__title {
  margin: 0;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
}
.more-product__desc {
  margin: 0;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
}
.more-product__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
}
.more-product__button:hover {
  background-color: #ebebeb;
}
.more-product__button:active {
  color: rgba(68, 68, 68, 0.3);
}
@media (min-width: 768px) {
  .more-product {
    padding: 55px 38px 36px;
    text-align: center;
  }
  .more-product::before {
    width: 60px;
    height: 60px;
    margin-bottom: 49px;
  }
  .more-product__title {
    width: 170px;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
  }
  .more-product__desc {
    width: 170px;
    margin-bottom: auto;
    font-size: 16px;
    line-height: 1.2;
  }
  .more-product__button {
    min-height: 40px;
  }
}
@media (min-width: 768px) {
  .more-product__button {
    line-height: 40px;
  }
}
.additional-product {
  position: relative;
  padding: 30px 20px 35px;
}
.additional-product__title {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-bottom: 32px;
  padding-right: 24px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", Arial, sans-serif;
  color: #111111;
  text-transform: none;
  background-color: #ffffff;
}
.additional-product__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  z-index: -1;
  width: 100vw;
  height: 3px;
  background-color: #68b738;
}
.additional-product__list {
  margin-bottom: 39px;
  border-top: 1px solid #cdcdcd;
}
.additional-product__item {
  padding: 14px 0 17px;
  border-bottom: 1px solid #cdcdcd;
}
.additional-product__subtitle {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  font-family: "Oswald", Arial, sans-serif;
  color: #222222;
  text-transform: uppercase;
}
.additional-product__desc {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 14px;
  line-height: 14px;
}
.additional-product__button {
  clear: both;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #68b738;
}
.additional-product__promo {
  box-sizing: border-box;
  min-height: 198px;
  margin: 0 auto;
  padding: 66px 35px 40px;
  background-color: #68b738;
  background-image: url("../img/gift.jpg");
  background-size: 100%;
}
.additional-product__promo::before {
  content: "";
  display: block;
  width: 55px;
  height: 60px;
  margin: 0 auto 63px;
  background-image: url("../img/icon-two-gift.svg");
}
@media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
  .additional-product__promo {
    background-image: url("../img/gift@2x.jpg");
  }
}
.additional-product__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .additional-product {
    padding: 0 0 76px;
  }
  .additional-product__title {
    margin-bottom: 80px;
    padding: 0 38px;
    font-size: 36px;
    line-height: 36px;
  }
  .additional-product__title::before {
    left: -100vw;
    top: 23px;
    width: 200vw;
  }
  .additional-product__list {
    margin-bottom: 70px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
  }
  .additional-product__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 26px 37px;
    border-bottom: 1px solid #cdcdcd;
  }
  .additional-product__subtitle {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
  .additional-product__desc {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
  }
  .additional-product__bulk {
    margin-right: 52px;
  }
  .additional-product__button {
    width: 100%;
    min-height: 40px;
    margin-top: 24px;
  }
  .additional-product__button:hover {
    background-color: #5eaa2f;
  }
  .additional-product__button:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 768px) and (max-width: 1300px - 1px) {
  .additional-product__promo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    padding: 65px 125px 75px 91px;
    background-image: url("../img/gift-tablet.jpg");
  }
  .additional-product__promo::before {
    margin: 0;
  }
  .additional-product__text {
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 1300px - 1px) and (min-resolution: 1.5dppx), (min-width: 768px) and (max-width: 1300px - 1px) and (min-resolution: 144dpi) {
  .additional-product__promo {
    background-image: url("../img/gift-tablet@2x.jpg");
  }
}
@media (min-width: 1300px) {
  .additional-product {
    margin-left: -40px;
    padding: 0 0 85px;
  }
  .additional-product::after {
    content: "";
    display: block;
    clear: both;
  }
  .additional-product__title {
    margin-bottom: 81px;
  }
  .additional-product__title::before {
    left: -100vw;
    top: 23px;
    width: 200vw;
  }
  .additional-product__container {
    display: flex;
  }
  .additional-product__list {
    margin-left: 40px;
    margin-bottom: 0;
    border: none;
    border-top: 1px solid #cdcdcd;
  }
  .additional-product__item {
    padding: 17px 0 14px;
    border-bottom: 1px solid #cdcdcd;
  }
  .additional-product__subtitle {
    width: 325px;
  }
  .additional-product__bulk {
    width: 245px;
    margin-right: 0;
  }
  .additional-product__price {
    width: 80px;
  }
  .additional-product__button {
    width: 245px;
    margin-top: 0;
    transform: translateY(-2px);
  }
  .additional-product__promo {
    width: 245px;
    margin-left: 80px;
    background-size: cover;
  }
  .additional-product__text {
    width: 175px;
  }
}
@media (min-width: 1300px) screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .additional-product__subtitle {
    line-height: 40px;
  }
  .additional-product__button {
    line-height: 40px;
  }
}
.cat-info {
  margin: 0;
  padding: 0;
  border: none;
}
.cat-info__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cat-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 18px;
}
.cat-info__item:last-child {
  margin-bottom: 0;
}
.cat-info__item label {
  margin-right: 14px;
  color: #222222;
}
.cat-info__point {
  position: relative;
  top: 4px;
  right: 0;
  font-size: 1em;
}
.cat-info__item input {
  flex-grow: 1;
  box-sizing: border-box;
  height: 45px;
  padding: 15px 15px 15px 15px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  color: #444444;
  text-transform: inherit;
  border: 1px solid #e6e6e6;
}
.cat-info__item input::placeholder {
  font: inherit;
  color: inherit;
}
.cat-info__item input:hover {
  border-color: #cfcfcf;
}
.cat-info__item input:invalid {
  border: 2px solid #ff8282;
}
.cat-info__item input:focus {
  border-color: #444444;
  outline: 1px solid #444444;
}
@media (min-width: 768px) {
  .cat-info__item {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
  }
  .cat-info__item label {
    margin-bottom: 5px;
    margin-right: 18px;
  }
  .cat-info__item input {
    height: 52px;
    padding: 10px 19px;
    font-size: 20px;
  }
}
@media (min-width: 1300px) {
  .cat-info {
    width: 570px;
  }
}
.project {
  margin: 0;
  padding: 22px 20px;
  border: 1px solid #e6e6e6;
}
.project__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.project__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
}
.project__item:last-child {
  margin-bottom: 0;
}
.project__item input {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.project__item input:focus + label::before {
  box-shadow: 0 0 0 1px #bababa;
}
.project__item input:active {
  color: rgba(34, 34, 34, 0.3);
}
.project__item label {
  display: flex;
  align-items: center;
  width: 100%;
  color: #222222;
}
.project__item label::before {
  content: "";
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  margin-right: 16px;
  background-color: #ffffff;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #cdcdcd;
}
.project__item label::after {
  content: none;
  position: absolute;
}
.project__item label:active {
  opacity: 0.3;
}
.project__item input:checked + label::before {
  background-color: #68b738;
}
@media (min-width: 768px) {
  .project {
    padding: 25px 28px;
  }
  .project__item {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 20px;
  }
  .project__item label::before {
    width: 38px;
    height: 38px;
    margin-right: 20px;
    border: 10px solid #ffffff;
  }
}
@media (min-width: 1300px) {
  .project {
    box-sizing: border-box;
    width: 570px;
    padding: 25px 28px;
  }
}
.contact-details__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-details__item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 18px;
}
.contact-details__item:last-child {
  margin-bottom: 0;
}
.contact-details__item--email svg {
  position: absolute;
  right: 15px;
  width: 17px;
  height: 13px;
}
.contact-details__item--phone svg {
  position: absolute;
  right: 12px;
  width: 20px;
  height: 20px;
}
.contact-details label {
  margin-top: -7px;
  margin-right: 10px;
  color: #222222;
}
.contact-details__point {
  position: relative;
  top: 8px;
  right: 0;
  font-size: 1em;
}
.contact-details input {
  flex-grow: 1;
  box-sizing: border-box;
  height: 45px;
  padding: 15px 15px 15px 15px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  color: #444444;
  text-transform: inherit;
  border: 1px solid #e6e6e6;
}
.contact-details input::placeholder {
  font-size: inherit;
  color: inherit;
}
.contact-details input:hover {
  border-color: #cfcfcf;
}
.contact-details input:invalid {
  border: 2px solid #ff8282;
}
.contact-details input:focus {
  border-color: #444444;
  outline: 1px solid #444444;
}
.contact-details input:focus + svg {
  fill: #68b738;
}
.contact-details input:invalid + svg {
  fill: #ff8282;
}
@media (min-width: 768px) {
  .contact-details__item {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
  }
  .contact-details__item--email svg {
    right: 21px;
  }
  .contact-details__item--phone svg {
    right: 20px;
  }
  .contact-details label {
    margin-right: 20px;
  }
  .contact-details input {
    height: 52px;
    padding: 11px 61px 11px 22px;
    font-size: 20px;
  }
  .contact-details__item--phone label {
    margin-right: 15px;
  }
  .contact-details__item--phone input {
    padding-left: 19px;
  }
}
@media (min-width: 1300px) {
  .contact-details__list {
    display: flex;
  }
  .contact-details__item {
    width: 570px;
    margin-bottom: 0;
  }
  .contact-details__item:first-child {
    margin-right: 80px;
  }
}
.reviews__text {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}
.reviews__text textarea {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  padding: 14px 13px 14px 14px;
  font-family: "Oswald", Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #444444;
  text-transform: inherit;
  border: 1px solid #e6e6e6;
}
.reviews__text textarea::placeholder {
  font: inherit;
  color: inherit;
}
.reviews__text textarea:focus {
  border-color: #444444;
  outline: 1px solid #444444;
}
@media (min-width: 768px) {
  .reviews__text {
    font-size: 20px;
    line-height: 20px;
  }
  .reviews__text textarea {
    height: 174px;
    padding: 14px 20px;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
  }
}
@media (min-width: 1300px) {
  .reviews__text textarea {
    width: 1220px;
  }
}
.extra__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.extra__item {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 18px;
}
.extra__item:last-child {
  margin-bottom: 0;
}
.extra__item input {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.extra__item input:focus + label::before {
  border-color: #bababa;
}
.extra__item label {
  position: relative;
  display: flex;
  align-items: center;
  color: #222222;
}
.extra__item label::before {
  content: "";
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  margin-right: 16px;
  background-color: #ffffff;
  border: 1px solid #cfcfcf;
}
.extra__item label::after {
  content: none;
  position: absolute;
  left: 5px;
  bottom: 4px;
  box-sizing: border-box;
  width: 20px;
  height: 11px;
  border-bottom: 2px solid #68b738;
  border-left: 2px solid #68b738;
  transform: rotate(-50deg) skewX(-5deg);
  transform-origin: 0 0;
}
.extra__item label:hover::before {
  border-color: #bababa;
}
.extra__item label:active {
  opacity: 0.3;
}
.extra__item input:checked + label::after {
  content: "";
}
@media (min-width: 768px) {
  .extra__subtitle {
    margin-bottom: 56px;
  }
  .extra__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
  }
  .extra__item {
    width: 284px;
    margin-right: 58px;
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 20px;
  }
  .extra__item:nth-child(even) {
    margin-right: 0;
  }
  .extra__item:nth-last-child(2) {
    margin-bottom: 0;
  }
  .extra__item label::before {
    width: 40px;
    height: 40px;
    margin-right: 19px;
  }
  .extra__item label::after {
    left: 10px;
    bottom: 8px;
  }
}
@media (min-width: 1300px) {
  .extra__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 32px;
  }
  .extra__item:nth-child(even) {
    margin-right: auto;
  }
  .extra__item:last-child {
    margin-right: 0;
  }
}
.option {
  overflow: hidden;
}
.option__wrapper {
  font-family: "Oswald", Arial, sans-serif;
  color: #111111;
  text-transform: uppercase;
  padding: 27px 0 32px;
}
.option__head {
  padding: 0 20px;
  margin-bottom: 37px;
}
.option__title {
  margin: 0;
  margin-bottom: 38px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
}
.option__info {
  margin: 0;
  padding-right: 10px;
  font-size: 14px;
  line-height: 18px;
}
.option__cat-info {
  margin-bottom: 23px;
  padding: 0 20px;
}
.option__project {
  margin-bottom: 27px;
}
.option__box {
  position: relative;
  margin: 0;
  margin-bottom: 29px;
  padding: 0 20px;
  border: none;
}
.option__box:last-of-type {
  margin-bottom: 35px;
}
.option__box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  width: 100%;
  height: 3px;
  background-color: #68b738;
}
.option__subtitle {
  position: relative;
  box-sizing: content-box;
  max-width: 182px;
  margin: 0 0 34px -20px;
  padding: 0 20px;
  font-size: 24px;
  line-height: 24px;
  text-transform: none;
  background-color: #ffffff;
}
.option__footer {
  padding: 0 20px;
}
.option__button {
  width: 100%;
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #63a73a;
}
.option__button:hover {
  background-color: #5eaa2f;
}
.option__button:active {
  color: rgba(255, 255, 255, 0.3);
}
.option__note {
  margin: 1px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #444444;
  text-transform: none;
}
@media (min-width: 768px) {
  .option__wrapper {
    box-sizing: border-box;
    width: 768px;
    margin: 0 auto;
    padding: 0 65px 72px 70px;
  }
  .option__head {
    padding: 0;
    margin-bottom: 65px;
  }
  .option__title {
    margin-left: -40px;
    margin-bottom: 55px;
    font-size: 60px;
    line-height: 60px;
  }
  .option__info {
    width: 345px;
    padding-right: 0;
    font-size: 20px;
    line-height: 30px;
  }
  .option__cat-info {
    margin-bottom: 72px;
    padding: 0;
  }
  .option__project {
    margin-bottom: 75px;
  }
  .option__box {
    margin-bottom: 66px;
    padding: 0;
  }
  .option__box:last-of-type {
    margin-bottom: 54px;
  }
  .option__box::before {
    left: -100vw;
    top: 22px;
    width: 200vw;
  }
  .option__subtitle {
    max-width: none;
    margin: 0 0 76px -40px;
    padding: 0 40px;
    font-size: 36px;
    line-height: 36px;
  }
  .option__footer {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .option__button {
    width: 283px;
    margin-bottom: 0;
    margin-right: 62px;
    font-size: 20px;
    line-height: 20px;
  }
  .option__note {
    font-size: 16px;
    line-height: 16px;
  }
}
@media (min-width: 1300px) {
  .option-container {
    width: 1220px;
    margin: 0 auto;
  }
  .option__wrapper {
    width: 1220px;
    padding-left: 0;
  }
  .option__header {
    padding: 0;
    margin-bottom: 65px;
  }
  .option__title {
    margin-left: 0;
    margin-bottom: 56px;
  }
  .option__info {
    width: 325px;
  }
  .option__form {
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
  }
  .option__cat-info {
    margin-right: 80px;
    margin-bottom: 68px;
  }
  .option__project {
    margin-bottom: 68px;
  }
  .option__programm {
    margin-bottom: 68px;
  }
  .option__box {
    flex-grow: 1;
    width: 100%;
    margin-bottom: 68px;
  }
  .option__box:last-of-type {
    margin-bottom: 30px;
  }
  .option__footer {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 8px;
  }
  .option__button {
    width: 570px;
    margin-right: 80px;
  }
  .option__note {
    margin-top: -8px;
    margin-left: 2px;
    font-size: 16px;
  }
}
@media all and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .option__button {
    line-height: 50px;
  }
  .contact-details__item--email svg {
    top: 20px;
    right: 12px;
  }
  .contact-details__item--phone svg {
    top: 16px;
    right: 17px;
  }
}
@-moz-document url-prefix("") {
  .option__box::before {
    left: -100vw;
    top: -44px;
    width: 200vw;
    z-index: -1;
  }
}
@media (min-width: 768px) {
  @-moz-document url-prefix("") {
    .option__box::before {
      left: -107vw;
      top: -90px;
      width: 200vw;
      z-index: -1;
    }
  }
}
@media (min-width: 1300px) {
  @-moz-document url-prefix("") {
    .option__box::before {
      left: -18vw;
      top: -90px;
      width: 230vw;
      z-index: -1;
      margin-right: -8px;
    }
  }
}
.page-header__wrapper {
  box-sizing: border-box;
  width: 100%;
}
@media (min-width: 768px) {
  .page-header {
    margin-bottom: 60px;
  }
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 15px 0;
  }
  .page-header__logo {
    margin-right: 92px;
  }
}
@media (min-width: 1300px) {
  .page-header {
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    z-index: 2;
  }
  .page-header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
    padding: 54px 0 75px;
  }
  .inner-page .page-header {
    position: static;
  }
}
.page-footer {
  background-color: #f2f2f2;
  position: relative;
}
.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding: 38px 20px 22px;
}
.page-footer__logo {
  margin-bottom: 27px;
}
.page-footer__logo:hover {
  opacity: 0.8;
}
.page-footer__logo:active {
  opacity: 0.6;
}
.page-footer__social {
  flex-wrap: wrap;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .container-contacts {
    width: 768px;
    margin: 0 auto;
  }
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    min-height: 154px;
    padding: 0 16px;
    margin-top: -3px;
  }
  .page-footer__logo {
    width: 165px;
    margin-bottom: 0;
  }
  .page-footer__social {
    margin-bottom: 9px;
    margin-left: 13px;
  }
  .page-footer__copyright {
    margin-bottom: 7px;
  }
}
@media (min-width: 1300px) {
  .container-contacts {
    width: 1220px;
    margin: 0 auto;
  }
  .page-footer__wrapper {
    width: 1220px;
    padding: 12px 0 0;
  }
  .page-footer__social {
    margin-left: -14px;
    margin-right: -26px;
    margin-bottom: 9px;
  }
}
@media (min-width: 1300px) and (min-width: 768px) screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .page-footer__wrapper {
    padding-top: 61px;
  }
}
